body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  transition: 0.3s all;
  user-select: none;
}

:root {
  --text: #04395e;
}

.App {
  margin: 0 auto;
  width: 1200px;
  margin-top: 50px;
  overflow: hidden;
  box-shadow: 0 3px 15px #0000001a;
  padding: 180px  30px;
}

.button__grey {
  margin: 0 15px;
  width: 70px;
  height: 30px;
  background-color: #808080;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: none;			
  text-decoration: none;
}

.button__grey:hover {
  background-color: black;
}


.link__grey {
  margin: 0 15px;
  display: flex;
  width: 70px;
  height: 30px;
  align-items: center;
  justify-content: center;
  
}
.link__grey>a {
  display: block;
  width: 100px;
  height: 30px;
  background-color: #808080;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}
.link__grey:hover {
  background-color: black;
}