.addingForm__wrapper {
    margin-top: 120px;
}
.addingForm.active {
    transform: scale(1);
    z-index: 20;
}
.addingForm {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    &__modal {
        width: 400px;
        height: 450px;
        padding: 15px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
    }
    &__title {
        font-size: 30px;
        color: #3baa64;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
    }
    &__textarea {
        position: relative;
        width: 350px;
        height: 200px;
        margin-bottom: 20px;
        label {
            font-size: 16px;
            color: #8d8d8d;
        }
        textarea {
            padding: 10px 15px;
            resize: none;
            width: 350px;
            height: 180px;
            box-shadow: 0 5px 15px #0000002f;
            border: 2px solid  #3baa64;
            border-radius: 6px;
        }
    }
    &__select {
        width: 350px;
        height: 80px;
        label {
            font-size: 16px;
            color: #8d8d8d;
        }
        select {
            width: 100%;
            box-shadow: 0 5px 15px #0000002f;
            border: 2px solid  #3baa64;
            border-radius: 6px;
            font-size: 16px;
            color: #3baa64;
        }
    }
    &__btns {
        margin-top: 20px;
        width: 300px;
        display: flex;
        justify-content: space-around;
    }
    &__btn {
        text-transform: uppercase;
        width: 120px;
        height: 40px;
        padding: 6px 12px;
        background-color: #3baa64;;
        color: white;
        border: 1px solid white;
        font-size: 12px;
        border-radius: 6px;
        &:hover {
            background-color: #8d8d8d;
            color: white;
            border: 1px solid white;
        }
    }
    &__success {
        display: none;
        height: 25px;
        margin-top: 8px;
        margin-bottom: 12px;
        color: green;
        text-align: center;
    }
	&__error {
		display: none;
		height: 25px;
		margin-top: 8px;
		margin-bottom: 12px;
		color: red;
		text-align: center;
	}
    &__textAreaError {
        height: 25px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;
        color: red;
    }
}