.dashboard {
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    &__sidebar {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e9e6e6;
        width: 300px;
        height: 100vh;
        border-right: 1px solid black;
        &_title {
            color: #337ab7;
            font-size: 22px;
        }
        &_btn {
            padding: 10px 10px;
            display: flex;
            justify-content: center;
            height: 45px;
            width: 100%;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__content {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }
}